# This file lists the Python dependencies for the project.
# It is used to create a virtual environment with all necessary packages.
# To install the dependencies, run: pip install -r requirements.txt
# Only works with Python 3.11.10 :-(

networkx==3.5
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.12.0
combinatory-synthesizer @ git+https://github.com/tudo-seal/cosy.git
mypy==1.15.0
mypy_extensions==1.1.0
grakel==0.1.10
pydot
#gpytorch # ==1.14
torch # ==2.6.0
pandas
matplotlib
pytest
tqdm
hypothesis>=6.100
pytest-cov>=4.1
